/*CSS of only HARK menu */

.menu-container {
    position: relative;
    height: 71px;
}

.menu-container.mobile {
    position: relative;
    height: initial;
}

.menu-container ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.menu-container.mobile ul {
    list-style-type: none;
    position: initial;
    top: initial;
    transform: none;
}

.menu-container li {
    display: inline-block;
    margin-left: 40px;
}

.menu-container.mobile li {
    display: block;
    margin: 0 20px;
    border-bottom: 1px solid grey;
}

.menu-container li img {
    width: 100px;
    display: inline-block;
}

ul.main-menu li img.active {
    -webkit-filter: grayscale(100%) contrast(30%);
    -moz-filter: grayscale(100%) contrast(30%);
    -o-filter: grayscale(100%) contrast(30%);
    -ms-filter: grayscale(100%) contrast(30%);
    filter: grayscale(100%) contrast(30%);
}

ul.main-menu li.main-site-logo {
    width: 128px;
    display: inline-block;
    margin-left: 20px;
}

ul.main-menu li.main-site-logo a {
    width: 128px;
}

ul.main-menu li.main-site-logo img {
    width: 128px;
    display: inline-block;
}

.hamburger .line{
    width: 18px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}


#menu-icon .line:nth-child(1){
    opacity: 0;
}

#menu-icon.is-active .line:nth-child(2){
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
}

#menu-icon.is-active .line:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}

.new-world {
    background-color: black;
    height: 28px;
    text-align: center;
}
.new-world .new-world-message {
    color: white;
    text-align: center;
    width: 90%;
    display: inline-block;
}

.new-world .new-world-close{
    border-radius: 50%;
    padding: 0.5em;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    z-index:111;
    display: inline-block;
    background-color: white;
    float: right;
    margin-right: 20px;
    margin-top: 4px;

}

.new-world  .new-world-close:hover {
    color: #ffffff;
}

.new-world  .new-world-close::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    width: 2px;
    left: 7px;
    top: 0px;
    bottom: 0px;
    transform: rotate(45deg);
}

.new-world-close::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    width: 2px;
    height: 16px;
    top: 0px;
    left: 7px;
    right: 0px;
    transform: rotate(-45deg);
}

