/*CSS of only HARK menu */


@media (max-width: 991px) {
    .menu-container li.menu-li{
        margin-left: 0px;
    }
}

@media (min-width: 992px) {
    .menu-container li.menu-li{
        margin-left: 40px;
    }
}


.menu-container {
    position: relative;
    height: 71px;
}

.menu-container ul {
    list-style-type: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.menu-container li {
    display: inline-block;
}

.menu-container li img {
    width: 100px;
    display: inline-block;
}



#mobile_top_menu_wrapper {
    padding: 0;
    margin: 0;
}

.menu-container.mobile {
    position: relative;
    height: initial;
}

.menu-container.mobile ul {
    list-style-type: none;
    position: initial;
    top: initial;
    transform: none;
    margin-bottom: 8rem;
}

.menu-container.mobile li.menu-li, .menu-container.mobile li.back-li {
    display: block;
    margin: 10px 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.menu-container.mobile li.repair-li, .menu-container.mobile li.back-li {
    display: block;
    margin: 10px 20px;
    text-transform: uppercase;
    font-size: 13px;
}

.menu-container.mobile li.repair-li.repair-last{
    margin-bottom: 50px;
}


.menu-container.mobile li img {
    display: inline-block;
    width: inherit;
}




ul.main-menu li img.active {
    -webkit-filter: grayscale(100%) contrast(10%);
    -moz-filter: grayscale(100%) contrast(10%);
    -o-filter: grayscale(100%) contrast(10%);
    -ms-filter: grayscale(100%) contrast(10%);
    filter: grayscale(100%) contrast(10%);
}

ul.main-menu li.main-site-logo {
    width: 128px;
    display: inline-block;
    margin-left: 20px;
}

ul.main-menu li.main-site-logo a {
    width: 128px;
}

ul.main-menu li.main-site-logo img {
    width: 128px;
    display: inline-block;
}

.hamburger .line{
    width: 18px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 4px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}


#header .header-nav #menu-icon{
    margin: 0;
}

#menu-icon .line:nth-child(1){
    opacity: 0;
    margin-top: 12px;
}

#menu-icon.is-active .line:nth-child(2){
    -webkit-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
}

#menu-icon.is-active .line:nth-child(3){
    -webkit-transform: translateY(-6px) rotate(-45deg);
    -ms-transform: translateY(-6px) rotate(-45deg);
    -o-transform: translateY(-6px) rotate(-45deg);
    transform: translateY(-6px) rotate(-45deg);
}

.new-world {
    background-color: black;
    height: 28px;
    text-align: center;
    font-family: POLICESTUDIOHARKSANS-REGULAR;
}
.new-world .new-world-message {
    color: white;
    text-align: center;
    width: 90%;
    display: inline-block;
    min-height: 100%;
    line-height: 26px;
    font-size: 0.8rem;
}

.new-world .new-world-close{
    border-radius: 50%;
    padding: 0.5em;
    width: 17px;
    height: 17px;
    position: relative;
    cursor: pointer;
    z-index:111;
    display: inline-block;
    background-color: white;
    float: right;
    margin-right: 20px;
    margin-top: 4px;
}

.new-world  .new-world-close:hover {
    color: #ffffff;
}

.new-world  .new-world-close::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    width: 1px;
    left: 8px;
    top: 3px;
    bottom: 0px;
    transform: rotate(45deg);
    height: 11px;
}

.new-world-close::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: black;
    width: 1px;
    height: 11px;
    top: 3px;
    left: 8px;
    right: 0px;
    transform: rotate(-45deg);
}

.new-world-close:hover {
    border: none;
    background-color: grey;
    color: black;
}

